.carder {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    /* width: 50%; */
    max-width: 50%;
    text-align: left;
  }
  
  .card-content {
    padding: 20px;
  }
  
  .card-content h3 {
    margin: 0 0 10px;
  }
  .carder-container {
    display: flex;
    justify-content: center;
  }