.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  }
  
  .card1 {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    max-width: 300px;
    text-align: left;
  }
  
  .card1 img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 100%;
    height: auto;
  }
  
  .card-content {
    padding: 20px;
  }
  
  .card-content h3 {
    margin: 0 0 10px;
  }
  
  .card-content ul {
    padding-left: 20px;
  }
  
  .card-content li {
    margin: 10px 0;
  }
  .margin-40 {
    margin-top: 40px;
  }