.veneers-benefits {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .section {
    margin-bottom: 40px;
    width: 100%;
    max-width: 800px;
  }
  
  .section-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .card-list,
  .feature-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card,
  .feature {
    background-color: #d7e3fc;
    border-radius: 8px;
    margin: 10px;
    width: 300px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .card-content,
  .feature-content {
    text-align: left;
  }
  
  .card-description,
  .feature-description {
    font-size: 16px;
    line-height: 1.5;
  }
  .bongo {
    display: flex;
     justify-content: center;
     background-color: #ade8f4;
  }