.generic-service-component {
    display: flex;
    max-width: 1600px;
    /* justify-content: center; */
  }
  .container2 {
    display: flex;
    justify-content: center;
    background-color: #ade8f4;
  }
  .container3 {
        display: flex;
    justify-content: center;
  }
  .container4 {
    display: flex;
    justify-content: center;
    background-color: #ade8f4;
  }
  
  .sidebar {
    width: 30%;
    background-color: #ade8f4;
    padding: 20px;
    /* height: 100vh; */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar-item {
    padding: 10px;
    margin-bottom: 5px;
  }
  
  .sidebar-item:hover, .active2 {
    background-color: #d9edf7; 
  }
  
  .sidebar-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
  }
  
  .sidebar-icon {
    margin-left: auto;
    fill: #333;
  }

  .main-content {
    width: 70%;
    padding: 20px;
  }
  
  .smile-design {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .section {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
    max-width: 800px;
  }
  
  .section-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .section-description {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .card-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    background-color: #c20000;
    border-radius: 8px;
    margin: 10px;
    width: 300px;
    padding: 20px;
  }
  
  .card-content {
    text-align: left;
  }
  
  .card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .card-description {
    font-size: 16px;
    line-height: 1.5;
  }
  
  .feature-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .feature {
    background-color: #e0e0e0;
    border-radius: 8px;
    margin: 10px;
    width: 300px;
    padding: 20px;
  }
  
  .feature-content {
    text-align: left;
  }
  
  .feature-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .feature-description {
    font-size: 16px;
    line-height: 1.5;
  }
  
  .style-one {
    /* display: flex;
    justify-content: center; */
    border: 0;
    width: 80vw;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
  }
  
  .styled-content {
    display: flex;
  }
  
  .padding-20 {
    padding: 20px;
    /* color: white; */
  }
  
  @media (max-width: 768px) {
    .generic-service-component {
      flex-direction: column;
    }
  
    .sidebar, .main-content {
      width: 100%;
    }
  
    .styled-content {
      flex-direction: column;
    }
  }
  @media (max-width: 500px) {
    /* .generic-service-component {
      flex-direction: column;
    } */
  
    .sidebar{
      display:none;
    }
    .main-content {
        padding: 20px 0; 
    }
    .main-title-text {
        width:50%;
        /* font-size: 20px; */
        }
    /* .styled-content {
      flex-direction: column;
    } */
  }
