.team-info-container {
    display: flex;
    flex-direction: column; /* Display rows vertically */
    gap: 20px;
    padding: 20px;
    
    background-color: #d7f8ff;

  }
  
  .team-member {
    background-color: #d7f8ff;
    padding: 20px;
    text-align: left;
    
    margin: 0 auto; /* Center align each row horizontally */
  }
  
  .team-member h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .team-member p {
    margin-bottom: 10px;
  }
  
  .team-member ul {
    margin-bottom: 10px;
    padding-left: 20px;
  }
  .list-style-disc {
    list-style-type: disc;
  }